#### H1 heading

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
    1- python
    2- R

## Some of the commonly used libraries used by Data Scientists include:
*  [numpy]
*   [pandas]
* [tensorflow]

# Data science tools
| Tool | Description |
|------|-------------|
| Jupyter Notebook | An open-source web application for creating and sharing documents that contain live code, equations, visualizations and narrative text. |
| Pandas | A software library for data manipulation and analysis. |
| Scikit-learn | A machine learning library for Python. |
| Matplotlib | A plotting library for Python. |
| TensorFlow | An open-source platform for machine learning. |

### Below are a few examples of evaluating arithmetic expressions in Python

Addition: `3 + 2` returns `5`

Subtraction: `3 - 2` returns `1`

Multiplication: `3 * 2` returns `6`

Division: `3 / 2` returns `1.5`

Floor Division: `3 // 2` returns `1`

Modulus: `3 % 2` returns `1`

Exponentiation: `3 ** 2` returns `9`

In [6]:
x = 3
y = 4
z = 5

result = x * y + z
print(result)

17

# Objectives

- Understand the basics of Python programming
- Learn how to use Jupyter notebooks
- Explore data analysis and visualization tools
- Practice using machine learning algorithms

In [9]:
minutes = 200
# This will convert 200 minutes to hours by diving by 60
hours = minutes / 60
print(hours)

3.3333333333333335

**Author:** amin farahani